:root {
  font: 18px/145% system-ui, "Segoe UI", Roboto, sans-serif;
  letter-spacing: 0;
  color: #1d1b1b;
  background: #fffdf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
